    <form class="form-horizontal" method="post" action="./addSimcha">
        <div class="form-group">
            <div class="col-md-2 text-left">
                <label class="control-label" for="name">Name </label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" name="name" id="name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 text-left">
                <label for="simchaType">Simcha Type </label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="text" id="simchaType" name="simchaType">
            </div>
        </div>
        <div "form-group">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
