<div class="well col-xs-4 col-xs-offset-4 text-center">
    <form class="form-horizontal" method="post" action="./changePassword">
        <div class="form-group">
            <div class="col-md-4 text-left">
                <label for="oldPassword">Old Password </label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="password" id="oldPassword" name="oldPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 text-left">
                <label for="newPassword">New Password </label>
            </div>
            <div class="col-md-8">
                <input class="form-control" type="password" id="newPassword" name="newPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Submit Password</button>
            </div>
        </div>
    </form>
    <h5 style="color: red">*If you don't have a password then just type a new password into the "New Password" input field</h5>
</div>